<h1>Edit Post</h1>
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |error| %>
    
      <%= error %>

  <% end %>
<% end %>
<%= form_for  @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>
  <%= f.submit %>
<% end %>
<%= link_to "Delete Post", post_path(@post), method: "delete", data: { confirm: "Are you sure you want to delet this post?"} %>
<%= link_to "Back to Other Posts", blogger_posts_path(@blogger.id) %>