<h1>Post</h1>

<p><%= @post.title %></p>
<p><%= @post.body %></p>
<p><%= @post.category %></p>

<%= link_to "Edit Post", edit_post_path(@post.id) %>
<%= link_to "Back to Other Posts", blogger_posts_path(@blogger.id) %>